services:
  obsidian-livesync:
    container_name: obsidian-livesync
    image: docker.io/oleduc/docker-obsidian-livesync-couchdb:master
    environment:
      - TZ=${TZ}
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - SERVER_URL=${SERVER_URL}
      - COUCHDB_DATABASE=obsidiandb
    volumes:
      - ./data:/opt/couchdb/data
      - ./etc/local.d:/opt/couchdb/etc/local.d
    ports:
      - "${COUCHDB_PORT}:5984"
    restart: unless-stopped

  obsidian-remote:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian-remote
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ./config:/config
    ports:
      - ${OBSIDIAN_PORT}:3000
    shm_size: "1gb"
    depends_on:
      - obsidian-livesync
    networks:
      - https_network

  syncthing:
    image: linuxserver/syncthing
    container_name: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - ./vaults/obsidian_vault:/sync
      - ./syncthing/config:/config
    ports:
      - "${SYNCTHING_GUI_PORT}:8384"
      - "${SYNCTHING_PORT}:22000"
      - "${SYNCTHING_LOCAL_DISCOVERY_PORT}:21027/udp"
    restart: unless-stopped
    networks:
      - https_network

networks:
  https_network:
    external: true
    name: ${HTTPS_NETWORK}

